# Домашняя работа №8

## Задание №1

In [2]:
import pandas as pd

In [5]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [11]:
joined = movies.merge(ratings, on="movieId", how="left")
joined.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [34]:
# Какому фильму выставлено больше всего оценок 5.0
joined[joined["rating"] == 5.0]["movieId"].value_counts().head(1)

movieId
318    153
Name: count, dtype: int64

In [37]:
joined[joined["movieId"] == 318]["title"].head(1)

8652    Shawshank Redemption, The (1994)
Name: title, dtype: object

# Задание №2

In [53]:
data = pd.read_csv("power.csv")

In [54]:
consumption = data[
    (data["country"].isin(["Latvia", "Lithuania", "Estonia"])) & 
    (data["category"].isin([4, 12, 21])) &
    (data["year"] <= 2010) & (data["year"] >= 2005) &
    (data["quantity"] > 0)
]["quantity"].sum()
print(f"Суммарное потребление стран: {consumption}")

Суммарное потребление стран: 240580.0