# Создание столбцов на ходу
- Лена - разработчик
- Ваня - дизайнер
- Настя - редактор

In [1]:
import pandas as pd

In [23]:
def departments(row):
    # print(row)
    info = row['dicts']
    
    if 'Лена' in info:
        row['разработка'] = info['Лена']
    
    if 'Настя' in info:
        row['редакторы'] = info['Настя']
    
    return row

In [24]:
df.head().apply(departments, axis=1)

                    dicts  разработка  редакторы
0  {'Лена': 1, 'Ваня': 2}         1.0        NaN
1  {'Ваня': 3, 'Леша': 5}         NaN        NaN
2            {'Настя': 3}         NaN        3.0

In [5]:
df = pd.DataFrame({'dicts': [{'Лена': 1, 'Ваня': 2}, {'Ваня': 3, 'Леша': 5}, {'Настя': 3}]})
df

                    dicts
0  {'Лена': 1, 'Ваня': 2}
1  {'Ваня': 3, 'Леша': 5}
2            {'Настя': 3}

# Группировки и оконные функции

In [25]:
df = pd.DataFrame(
    {
        'region': ['СФО', 'СФО', 'ДВФО', 'СФО', 'ДВФО', 'ДВФО', 'ДВФО', 'ДВФО', 'СФО', None],
        'city': ['Новосибирск', 'Томск', 'Владивосток', 'Новосибирск', 'Владивосток', 'Владивосток', 'Владивосток', 'Владивосток', 'Томск', 'Владивосток'],
        'sales': [140, 135, 290, 95, 100, 50, 40, 120, 150, 400],
    }
)
df

  region         city  sales
0    СФО  Новосибирск    140
1    СФО        Томск    135
2   ДВФО  Владивосток    290
3    СФО  Новосибирск     95
4   ДВФО  Владивосток    100
5   ДВФО  Владивосток     50
6   ДВФО  Владивосток     40
7   ДВФО  Владивосток    120
8    СФО        Томск    150
9   None  Владивосток    400

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   region  9 non-null      object
 1   city    10 non-null     object
 2   sales   10 non-null     int64
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [26]:
df.groupby('city').count()

             region  sales
city
Владивосток       5      6
Новосибирск       2      2
Томск             2      2

In [28]:
df['city'].value_counts()

Владивосток    6
Новосибирск    2
Томск          2
Name: city, dtype: int64

1. Что возвращает метод count? - количество НЕПУСТЫХ строк (!!!)
2. Какие значения ключей показывает группировка? - ТОЛЬКО НЕПУСТЫЕ ключи

In [29]:
df.groupby('region').count()

        city  sales
region
ДВФО       5      5
СФО        4      4

In [30]:
len(df)

10

In [ ]:
df.apply(...)

Посчитать разницу максимального и минимального значения для города

In [31]:
# шаг 1 - смотрим какие уникальные значения ключа есть
df['city'].unique()

array(['Новосибирск', 'Томск', 'Владивосток'], dtype=object)

In [32]:
# шаг 2 - для каждого города берем его строки
df_vladik = df[df['city'] == 'Владивосток']
df_vladik

  region         city  sales
2   ДВФО  Владивосток    290
4   ДВФО  Владивосток    100
5   ДВФО  Владивосток     50
6   ДВФО  Владивосток     40
7   ДВФО  Владивосток    120
9   None  Владивосток    400

In [33]:
# шаг 3 - для этих строк применяется функция

max_value = df_vladik['sales'].max()
max_value

400

In [34]:
min_value = df_vladik['sales'].min()
min_value

40

In [35]:
max_value - min_value

360

In [37]:
def min_max(df):
    """На вход подаются строки с одинаковым городом"""
    max_value = df['sales'].max()
    min_value = df['sales'].min()
    
    return max_value - min_value

In [38]:
df.groupby('city').apply(min_max)

city
Владивосток    360
Новосибирск     45
Томск           15
dtype: int64

In [36]:
df.groupby('city')

### Метод agg
```python
.agg(lifetime = ('timestamp', min_max_diff), amount = ('timestamp', 'count' ))
```

In [53]:
def min_max_agg(sales_column):
    """На вход подается столбец sales"""
    # print(sales_column)
    max_value = sales_column.max()
    min_value = sales_column.min()
    
    return max_value - min_value

In [54]:
df.groupby('city').agg({'sales': ['min', 'max', min_max_agg], 'region': 'count'})

            sales                  region
              min  max min_max_agg  count
city
Владивосток    40  400         360      5
Новосибирск    95  140          45      2
Томск         135  150          15      2

### Посчитать процент строки от ее региона

In [55]:
df.sort_values(['region', 'city'])

  region         city  sales
2   ДВФО  Владивосток    290
4   ДВФО  Владивосток    100
5   ДВФО  Владивосток     50
6   ДВФО  Владивосток     40
7   ДВФО  Владивосток    120
0    СФО  Новосибирск    140
3    СФО  Новосибирск     95
1    СФО        Томск    135
8    СФО        Томск    150
9   None  Владивосток    400

In [68]:
df_vladik = df.copy()

df_vladik = df_vladik[df_vladik['city'] == 'Владивосток']

In [69]:
total_sales = df_vladik['sales'].sum()
total_sales

1000

In [63]:
a = [1, 2, 3]
b = a.copy()

In [65]:
id(a) == id(b)

False

In [66]:
b.append(10)
b

[1, 2, 3, 10]

In [67]:
a

[1, 2, 3]

In [70]:
df_vladik['share'] = df_vladik['sales'] / total_sales
df_vladik

  region         city  sales  share
2   ДВФО  Владивосток    290   0.29
4   ДВФО  Владивосток    100   0.10
5   ДВФО  Владивосток     50   0.05
6   ДВФО  Владивосток     40   0.04
7   ДВФО  Владивосток    120   0.12
9   None  Владивосток    400   0.40

In [75]:
def share(df):
    total_sales = df['sales'].sum()
    df['share'] = df['sales'] / total_sales
    
    df['cumulative_sum'] = df['sales'].cumsum()
    
    return df

In [76]:
df.groupby(['region', 'city']).apply(share).sort_values(['region', 'city'])

  region         city  sales     share  cumulative_sum
2   ДВФО  Владивосток    290  0.483333             290
4   ДВФО  Владивосток    100  0.166667             390
5   ДВФО  Владивосток     50  0.083333             440
6   ДВФО  Владивосток     40  0.066667             480
7   ДВФО  Владивосток    120  0.200000             600
0    СФО  Новосибирск    140  0.595745             140
3    СФО  Новосибирск     95  0.404255             235
1    СФО        Томск    135  0.473684             135
8    СФО        Томск    150  0.526316             285

In [73]:
df.groupby('region').apply(share).sort_values(['region', 'city'])

  region         city  sales     share
2   ДВФО  Владивосток    290  0.483333
4   ДВФО  Владивосток    100  0.166667
5   ДВФО  Владивосток     50  0.083333
6   ДВФО  Владивосток     40  0.066667
7   ДВФО  Владивосток    120  0.200000
0    СФО  Новосибирск    140  0.269231
3    СФО  Новосибирск     95  0.182692
1    СФО        Томск    135  0.259615
8    СФО        Томск    150  0.288462

# Тесты
Нужна функция, проверяющая корректность строки из трех столбцов:
- Идентификатор пользователя
- Возраст пользователя
- Профессия

Хотим по этой строке **определять возрастную категорию пользователя**.

TDD - test driven development
1. Пишем тесты как ДОЛЖНА работа функция
2. Пишем сам код

- дети
- студенты
- рабочие
- пенсионеры

In [ ]:
assert row_is_correct('111,30,аналитик')

assert not row_is_correct('111,,')
assert not row_is_correct('111,30,')
assert not row_is_correct('111,54,')
assert row_is_correct('111,1,аналитик')

# если профессии берутся из БД
# а если это заполняют сотрудники в филиалах?
assert not row_is_correct('111,54,аналитик данных')
assert not row_is_correct('111,54,Анолитик данных оператор ЭВМ')

assert not row_is_correct('')  # '', 0, [], {} pd.DataFrame()

In [ ]:
!pytest

In [ ]:
row[0]  # ''

In [ ]:
assert row_is_correct(row) == True / False

In [82]:
assert False

AssertionError:

In [77]:
row = '111,30,аналитик'

In [80]:
len(row.split(',')) == 3  # 111,,

True

Код функции

In [ ]:
def line_is_correct(line):
    values_list = line.split(',')
    
    if len(values_list) != 3:
        return False
    
    column_1, column_2, column_3 = values_list
    
    if not str.isnumeric(column_2):
        return False
    
    if not column_3.strip():
        return False
    
    return True